<% provide(:title, "502 Error") %>
<% provide(:crumb, breadcrumb_html([{title: "502 Error", url: "/502.html"}])) %>

<div class="article">
  <%= image_tag "/images/502.jpg", alt: "502だと伝える牛", class: "img-error" %>
</div>
