<% provide(:meta_title, "502 Error") %>
<% provide(:meta_type, "article") %>
<% provide(:meta_url, "https://moocow-furaberl.com/502.html") %>
<% provide(:meta_image, "/images/502.jpg") %>
<% provide(:meta_description, "502Error") %>
<% provide(:title, "502 Error") %>
<% provide(:crumb, breadcrumb_html([{title: "502 Error", url: "/502.html"}])) %>

<div class="article">
  <%= image_tag "/images/502.jpg", alt: "502だと伝える牛", class: "img-error" %>
</div>
