<% provide(:meta_title, "500 Error") %>
<% provide(:meta_type, "article") %>
<% provide(:meta_url, "https://moocow-cabbage.com/500.html") %>
<% provide(:meta_image, "/images/500.jpg") %>
<% provide(:meta_description, "500Error") %>
<% provide(:title, "500 Error") %>
<% provide(:crumb, breadcrumb_html([{title: "500 Error", url: "/500.html"}])) %>

<div class="article">
  <%= image_tag "/images/500.jpg", alt: "500だと伝える牛", class: "img-error" %>
  <p>サーバーの問題でお探しのページを表示できません。</p>
  <p>恐れ入りますが時間をおいて再度アクセスしてください。</p>
  <p class="link-top"><a href="https://moocow-cabbage.com">トップページに戻る</a></p>
</div>
