<% provide(:title, "お問い合わせ完了") %>
<% provide(:crumb, breadcrumb_html([{title: "お問い合わせ", url: "/contact"}])) %>

<div class="article contact-thanks">
  <h2 class="article-title contact-title">お問い合わせ完了</h2>
  <p>お問い合わせを送信致しました。</p>
  <p>貴重なご意見ありがとうございます。</p>
  <p>内容を確認後、ご入力されたメールアドレス宛にご返信させていただきます。</p>
  <p>恐れ入りますが、今しばらくお待ちくださいますようよろしくお願い致します。</p>
  <p class="top-page"><a href="/">トップページ</a></p>
</div>
